* {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
:root {
  --primary: #03e9f4;
  --primary-lighten: #b7f12e;
  --primary-darken: #6f8639;
  --bg: #ede7e7;
  --shadow: 2px 0 5px rgba(49, 49, 49, 0.5);
  --corners: 0;
  --text-color: #3a3838;
  --dark: #000000;
  --dark-lighten: #504c4c;
  --light: #fdfdfd;
  --danger: #ff3737;
}
div > p > span {
  color: #03e9f4;
}

body {
  font-size: 16pt;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Catamaran", sans-serif;
  background-image: url(img/stray.webp);
  background-position: right;
  background-size: cover;
}

header {
  height: 80px;
}
main {
  min-height: calc(100vh - (120px + 80px));
  align-items: center;
  justify-content: center;
}
#welcome {
  min-height: calc(95vh - (120px + 80px));
}
footer {
  height: 120px;
}

p {
  margin: 0.5em 0;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

label {
  display: block;
  font-size: 12pt;
}

input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: var(--light);
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid var(--primary);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
  outline: none;
}

.interact {
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  top: 270px;
}

.change1 {
  position: absolute;
  top: 360px;
  color: #f7ef14;
}
/* #region  button-7 */
.btn-7 {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #03e9f4;

  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background-color: #000000;
}

.btn-7:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  animation: bgColor 10s infinite linear;
}
@keyframes bgColor {
  12.5% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ffa500;
  }
  37.5% {
    background-color: #ffff00;
  }
  50% {
    background-color: #7fff00;
  }
  62.5% {
    background-color: #00ffff;
  }
  75% {
    background-color: #0000ff;
  }
  87.5% {
    background-color: #9932cc;
  }
  100% {
    background-color: #ff1493;
  }
}

.btn-7 span {
  position: absolute;
  display: block;
}

.btn-7 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(58, 62, 180, 1) 0%,
    rgba(255, 0, 0, 1) 24%,
    rgba(253, 29, 240, 1) 41%,
    rgba(57, 253, 99, 1) 64%,
    rgba(243, 255, 0, 1) 84%,
    rgba(252, 102, 69, 1)
  );
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn-7 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(58, 62, 180, 1) 0%,
    rgba(255, 0, 0, 1) 24%,
    rgba(253, 29, 240, 1) 41%,
    rgba(57, 253, 99, 1) 64%,
    rgba(243, 255, 0, 1) 84%,
    rgba(252, 102, 69, 1)
  );
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn-7 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    270deg,
    transparent,
    rgba(58, 62, 180, 1) 0%,
    rgba(255, 0, 0, 1) 24%,
    rgba(253, 29, 240, 1) 41%,
    rgba(57, 253, 99, 1) 64%,
    rgba(243, 255, 0, 1) 84%,
    rgba(252, 102, 69, 1)
  );
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn-7 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    360deg,
    transparent,
    rgba(58, 62, 180, 1) 0%,
    rgba(255, 0, 0, 1) 24%,
    rgba(253, 29, 240, 1) 41%,
    rgba(57, 253, 99, 1) 64%,
    rgba(243, 255, 0, 1) 84%,
    rgba(252, 102, 69, 1)
  );
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* #endregion */
.deleteButton {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  pointer-events: all;
}

button:focus {
  outline: none;
}
button:hover {
  background-color: var(--primary-lighten);
}

button.btn-special {
  background: transparent;
  word-wrap: normal;
  border: none;
  width: 100px;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
button.btn-special:after {
  content: "ADD";
  margin-top: 5px;
  font-size: 8pt;
  color: var(--primary);
}
button.btn-special:focus {
  outline: none;
}
button.btn-special:hover {
  color: var(--primary);
}
.container {
  margin: 0 0.5em;
}

.card {
  background-color: var(--light);
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

.shadow {
  filter: drop-shadow(var(--shadow));
}
.boots {
  border: 5px solid var(--primary);
  /* background-color: var(--dark-lighten); */
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 15px;
}

.kittyBox {
  background-color: var(--dark);
  border: 5px solid var(--primary);
  box-shadow: 0 0 20px var(--light);
  height: 600px;
  width: 300px;
  margin: 40px auto;
  position: relative;
}

.kitten img {
  filter: drop-shadow(2px 4px 6px #1b1b1b);
  transition: all 0.35s ease;
}
.kitten.happy img {
  filter: drop-shadow(2px 4px 6px #00ffb3);
}
.kitten.tolerant img {
  filter: drop-shadow(2px 4px 6px #646464);
}
.kitten.angry img {
  filter: drop-shadow(2px 4px 6px #ff0000) contrast(1);
}
.kitten.gone img {
  filter: drop-shadow(2px 4px 6px #ff0000) contrast(0);
}
.kitten.gone {
  color: var(--danger);
  pointer-events: none;
}

.bg-dark {
  background-color: var(--dark);
}
.text-light {
  color: var(--light);
}

.btn-dark {
  background-color: var(--dark-lighten);
  border-color: var(--dark);
}
.btn-dark:hover {
  background-color: var(--dark);
  border-color: var(--dark-lighten);
}

.btn-cancel {
  background-color: red;
  border-color: lightcoral;
}
.btn-cancel:hover {
  background-color: #fa4141;
  border-color: #ff3737;
}

.text-danger {
  color: var(--danger);
}

.d-flex {
  display: flex;
  align-items: center;
}
.center {
  align-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex.space-between {
  justify-content: space-between;
}
.d-flex.space-around {
  justify-content: space-around;
}
.d-flex.justify-content-center {
  justify-content: center;
}
/* #region accessory classes */
.mt-1 {
  margin-top: 0.5em;
}
.mt-2 {
  margin-top: 1em;
}
.mt-3 {
  margin-top: 1.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}
.mb-2 {
  margin-bottom: 1em;
}
.mb-3 {
  margin-bottom: 1.5em;
}

.m-1 {
  margin: 0.5em;
}
.m-2 {
  margin: 1em;
}
.m-3 {
  margin: 1.5em;
}

.p-1 {
  padding: 0.5em;
}
.p-2 {
  padding: 1em;
}
.p-3 {
  padding: 1.5em;
}

.pt-1 {
  padding-top: 0.5em;
}
.pt-2 {
  padding-top: 1em;
}
.pt-3 {
  padding-top: 1.5em;
}

.pb-1 {
  padding-bottom: 0.5em;
}
.pb-2 {
  padding-bottom: 1em;
}
.pb-3 {
  padding-bottom: 1.5em;
}

.w-50 {
  width: 50%;
}
.left {
  padding-left: 33px;
}
/* #endregion accessory classes */
.text-center {
  text-align: center;
}

.action {
  cursor: pointer;
  transition: all 0.3s linear;
  filter: brightness(0.8);
}
.action:hover {
  filter: brightness(1);
}

.hidden {
  display: none !important;
}
